body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.folders-main {
  display: flex;
}
.folders {
  /* background-color: #333d4b; */
  width: 400px;
  margin: 5px;
  flex-basis: 30%;
  border: 1px solid;
  border-radius: 10px;
}
/* .folder{
  list-style: none;
} */

.subHead li {
  /* height: 30px; */
  padding-left: 10px;
}
.subHead img {
  width: 20px;
  height: 20px;
}
.taskDate {
  display: flex;
}
.taskDate p {
  width: fit-content;
  padding-left: 10px;
}
.subHead h1 {
  font-weight: 700;
}
.subHead h2 {
  font-weight: 600;
}
.folderBg :active {
  background-color: #5a687a;
  border-radius: 9px;
}
/* Chat app CSS */

.yourMsg {
  list-style: none;
  display: flex;
  justify-content: right;
  /* text-align: justify; */
  text-justify: auto;
  white-space: nowrap;
  word-wrap: break-word;
}
.clientMsg {
  list-style: none;
  display: flex;
  justify-content: left;
  text-justify: auto;
  white-space: nowrap;
  word-wrap: break-word;
}
.yourMsgDiv {
  margin-top: 2px;
  width: 300px;
}
.yourMsgDiv span {
  padding: 5px;
  max-width: 250px;
  text-wrap: wrap;
  background-color: #35b2f3;
}
.clientMsgDiv {
  margin-top: 2px;
  width: 300px;
}
.clientMsgDiv span {
  padding: 5px;
  max-width: 300px;
  text-wrap: wrap;
  background-color: #f3a662;
}
.chatBox {
  width: 300px;
  justify-content: center;
}
.chatWindow {
  border: solid 1px black;
}
.chatDiv {
  justify-content: center;
  display: flex;
  align-items: center;
}
.teams {
  padding-top: 5px;
  padding-bottom: 5px;
  height: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.sendBtn {
  margin: 7px;
  width: 30px;
}

/* .chatDiv {
  justify-content: center;
  display: flex;
  align-items: center;
}

.yourMsg {
  list-style: none;
  display: flex;
  justify-content: right;
}
.clientMsg {
  list-style: none;
  display: flex;
  justify-content: left;
} */
/* .chatBox {
  padding-top: 5px;
  border: solid 1px black;
} */
/* .subHead :hover {
  background-color: #5a687a;
  border-radius: 9px;
}
.subHead :focus {
  background-color: #5a687a;
  border-radius: 9px;
} */
.taskHead {
  display: flex;
  justify-content: space-between;
}
.tasks {
  flex-basis: 60%;
}

.teamDiv {
  background-color: #f3a662;
  margin: 2px;
}

#teamName {
  font-weight: bolder;
  text-align: center;
}
.membersDiv {
  background-color: #35b2f3;
  margin: 2px;
}

@media only screen and (max-width: 500px) {
  .teams {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 9px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .chatInp {
    width: 190px;
  }
  .chatWindow {
    width: 250px;
    border: solid 1px black;
  }

  .sendBtn {
    margin: 0px;
    width: 45px;
  }

  .yourMsgDiv {
    margin-top: 2px;
    width: 225px;
  }
  .yourMsgDiv span {
    padding: 3px;
    max-width: 170px;
    text-wrap: wrap;
    background-color: #35b2f3;
    /* text-justify: distribute-all-lines; */
  }
  .clientMsgDiv {
    margin-top: 2px;
    width: 200px;
  }
  .clientMsgDiv span {
    padding: 3px;
    max-width: 170px;
    text-wrap: wrap;
    background-color: #f3a662;
    /* text-justify: distribute-all-lines; */
  }
}
